@font-face {
    font-family: "futur";
    src: url('futur.ttf') format('ttf');
  }
  body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(89, 89, 212);
    margin: 0px;
  }
  .centre {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    background-color: aqua;
  }
  
  h1 {
      color:white;  
  }
  
  .carte-centre {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
  }
  .titre1 {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    text-align: center;
  }
  form {
    text-align: center;
    margin-top: 75px;
  }
  form input {
    padding: 5px;
  }
  
  .logo {
    max-height: 116px;
    max-width: 196px;
    float: left;
    position: relative;
    left: 20px;
    top: 50px;
    transform: translateY(-50%);
    display: grid;
    place-items: center;
  }
  
  nav {
    position: relative;
    background-color: white;
    top: 0px;
    padding: 15px;
  }
  
  nav primary-navigation{
      margin: 0 auto;
      display : block;
      margin-left: auto;
      margin-right: auto;
      width: 1000px;
      padding : 120px 0 0 0;  
      text-align: center;
      font-size: 16px;
      
    }
      nav ul li {
        list-style: none;
        margin: 0 auto;
        display: inline-block;
        padding: 0 90px;
        position: relative;
        text-decoration: none;
        text-align: center;
        font-size: medium;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bold;
        color: white;
      }
  
      li a {
        color: white;
      }
  
      li a:hover {
        color: rgb(0, 153, 255);
      }
  
      li:hover {
        cursor: pointer;
      }
  
      ul li ul {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        padding-left: 0;
        left: 0;
        display: none;
        background: white;
      }
  
      ul li:hover > ul,
      ul li ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
        min-width: 250px;
        text-align: left;
        padding-top: 20px;
        box-shadow: 0px 3px 5px -1px #ccc;
      }
  
      ul li ul li {
        clear: both;
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
        border-style: none;
      }
  
      ul li ul li a:hover {
        padding-left: 10px;
        border-left: 2px solid #D07D00;
        transition: all 0.3s ease;
      }
  
  
  a {
  
      text-decoration: none;
  }
      a:hover {
          color: #3CA0E7;
      }
   
  
   ul li ul li a { 
     transition: all 0.5s ease;
      color: black;
  }
  
  
  .bttn_Messagerie {
    background-color: #3B81C7;
    color : white;
    width: 155px;
    height: 50px;
  }
  
  .bttn_off_dem {
    background-color: #54B156;
    color : white;
    width: 155px;
    height: 50px;
    margin-right: 5px;
  }
  
  .bttn_anesf {
    background-color: #D07D00;
    color : white;
    width: 155px;
    height: 50px;
  }
  
  .bttn_compte {
    background-color: #DD3E42;
    color : white;
    width: 155px;
    height: 50px;
  }
  
  .nav ul p {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
  }
  
  footer {
    position: relative;
    height: 100px;
    background-color: black;
    text-align: center;
    /*top: 700px;*/
    bottom: auto;
  }
  
  .copy {
    position: relative;
    color: grey;
    top: 40px;
  }
  
  .centrehaut {
    margin-top: 163px;
  }
  
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .titre {
    margin-top: 190px;
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 200px;
    width: 100%;
    overflow: auto; /* Enable scroll if needed */
   
  }
  .close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .icone1 {
    width: 50px;
    height: 50px;
  }